<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Forus test app" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,700">
    <link href="<%= libs.mdi.css %>" rel="stylesheet">
    <link href="<%= libs.summernote.css %>" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="<%= favicon %>">
    <title><%= title %></title>
    <base href="<%= base %>">
</head>

<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <script>const env_data = JSON.parse('<%= env_data %>');</script>
    <script src="<%= libs.jquery.js %>"></script>
    <script src="<%= libs.summernote.js %>"></script>
    <script src="<%= script %>"></script>
</body>

</html>